@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');


html {
    scroll-behavior: smooth;  
}

body{
    overflow-y: scroll;
    overflow-x: hidden;;
    margin: 0;
    height: 1200vh;
    background: radial-gradient(32.87% 82.57% at 33.01% 35.88%, #5ee0d6 0%, #4bccc1 77.72%);
}

.canvas {
    position: fixed !important;
    top: 0;
    width: 100vw !important;
    height: 100vh !important;
    transition: 1s;
    z-index: -1;  
    filter: blur(15px); 
}

.activated {
    z-index: 1;  
    filter: blur(0); 
}

.landing-page{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}

.start-button {
    position: fixed;
    border: 3px solid #e6e6e6;
    min-width: 180px;
    min-height: 65px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)  rotateX(30deg);
    cursor: pointer;

    text-align: center;
    letter-spacing: 10px;
    font-size: 1.4rem;
    font-weight: 100;
    color: #e6e6e6;
    font-family: 'Finlandica', sans-serif;

    transition: .5s;
    perspective: 1000px;
}
.center-txt {
    min-width: 180px;
    min-height: 65px;
    transition: .5s;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)  rotateX(30deg);
    z-index: 2;
}

.start-button:hover , .start-button:hover > .center-txt{
    transform: translate(-50%, -50%)  rotateX(00deg);
}

iframe#foxcub-iframe {
    display: none;
    top: 999999vh !important;
    position: absolute !important;
}

#hidden-input-eyes {
    z-index: 5;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
}

.win-corner {
    position: fixed;
    transform: rotate(45deg);
    top: -10%;
    right: -15%;
    width: 40%;
    height: 25%;
    background: #30333b;
    z-index: 99999999999999;
    transition: 1s;
    // animation: showAnim 1s linear;
}

@keyframes showAnim {
    from {
        right: - 4000%;
    }
    to {
        right: -15%;
    }
}

.win-corner img {
    width: 15%;
    position: absolute;
    right: 35%;
    top: 45%;
}


* {
    scrollbar-width: thin;
    scrollbar-color: #169abb #282730;
}

*::-webkit-scrollbar {
    width: 17px;
}

*::-webkit-scrollbar-track {
    border: 7px solid #282730; 
    box-shadow: inset 0 0 4px rgb(201, 201, 201);
}

*::-webkit-scrollbar-thumb {
    background-color: #169abb;
    border-radius: 2px;
    border: 0px none #ffffff;
}



.links {
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    // background: rgba(255, 0, 0, 0.473);
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-around;

    a {
        width: 25%;
        margin-top: 12%;
        height: 30%;
        background: rgba(0, 0, 255, 0.555);
    }

    .border-link {
        margin-top: 30%;
        margin-left: 5%;
    }
    
    .brs {
        left: -10%;
        position: relative;
    }
}